{% extends 'core/base.html' %}

{% block title %}Enderecos - Resgatocao{% endblock %}

{% block content %}
  <style>
    .endereco-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .endereco-box {
      margin: 10px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .principal {
      background-color: lightblue;
    }

    .edit-button {
      margin-top: 10px;
      display: inline-block;
      padding: 5px 10px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 3px;
      text-decoration: none;
      cursor: pointer;
    }

    .delete-button {
      margin-top: 10px;
      display: inline-block;
      padding: 5px 10px;
      background-color: #f44336;
      color: white;
      border: none;
      border-radius: 3px;
      text-decoration: none;
      cursor: pointer;
    }

    .create-button-container {
      margin-top: 10px;
      display: flex;
      justify-content: center;
    }

    .create-button {
      padding: 5px 10px;
      background-color: #2196F3;
      color: white;
      border: none;
      border-radius: 3px;
      text-decoration: none;
      cursor: pointer;
    }

    .truncate-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 200px; /* adjust the width as needed */
    }
  </style>

  <h1>Endereços de {{ request.user.get_full_name }}</h1>
  <div class="endereco-container">
    {% for endereco in endereco_list %}
      <div class="endereco-box{% if endereco.is_principal %} principal{% endif %}">
        <strong>CEP:</strong> {{ endereco.cep }}<br>
        <strong>UF:</strong> {{ endereco.uf }}<br>
        <strong>Bairro:</strong> {{ endereco.bairro }}<br>
        <strong>Endereço:</strong> {{ endereco.endereco }}<br>
        <strong>Cidade:</strong> {{ endereco.cidade }}<br>
        <strong>Número:</strong> {{ endereco.numero }}<br>
        <strong>Complemento:</strong> <span class="truncate-text">{{ endereco.complemento }}</span><br>
        <a class="edit-button" href="{% url 'account:address_detail' pk=endereco.pk %}">Edit</a>
        {% if not endereco.is_principal %}
          <a class="delete-button" href="{% url 'account:address_delete' pk=endereco.pk %}">Delete</a>
        {% endif %}
      </div>
    {% empty %}
      <p>No addresses found.</p>
    {% endfor %}
  </div>

  <div class="create-button-container">
    <a class="create-button" href="{% url 'account:address_create' %}">Add New Address</a>
  </div>
{% endblock %}
