{% extends 'core/base.html' %}

{% block title %}Enderecos - Resgatocao{% endblock %}

{% block content %}
  <style>
    .endereco-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .endereco-box {
      margin: 10px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .principal {
      background-color: lightblue;
    }

    .edit-button {
      margin-top: 10px;
      display: inline-block;
      padding: 5px 10px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 3px;
      text-decoration: none;
      cursor: pointer;
    }

    .add-button {
      margin-top: 10px;
      display: inline-block;
      padding: 5px 10px;
      background-color: #2196F3;
      color: white;
      border: none;
      border-radius: 3px;
      text-decoration: none;
      cursor: pointer;
    }
  </style>

  <h1>Addresses for {{ request.user.get_full_name }}</h1>
  <div class="endereco-container">
    {% for endereco in endereco_list %}
      <div class="endereco-box{% if endereco.is_principal %} principal{% endif %}">
        <strong>CEP:</strong> {{ endereco.cep }}<br>
        <strong>UF:</strong> {{ endereco.uf }}<br>
        <strong>Bairro:</strong> {{ endereco.bairro }}<br>
        <strong>Endereço:</strong> {{ endereco.endereco }}<br>
        <strong>Cidade:</strong> {{ endereco.cidade }}<br>
        <strong>Número:</strong> {{ endereco.numero }}<br>
        <strong>Complemento:</strong> {{ endereco.complemento }}<br>
        <a class="edit-button" href="{% url 'account:address_detail' pk=endereco.pk%}">Edit</a>
      </div>
    {% empty %}
      <p>No addresses found.</p>
    {% endfor %}
  </div>

  <a class="add-button" href="{% url 'account:address_create' %}">Add New Address</a>
{% endblock %}
