{% extends 'core/base.html' %}

{% block title %}Atualizar E-mail e Senha - Resgatocao{% endblock %}

{% block content %}
  <style>
    .update-form-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f5f5f5;
    }

    .update-form {
      width: 100%;
      max-width: 400px;
      padding: 40px;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .update-form h2 {
      margin-bottom: 20px;
      text-align: center;
      font-size: 1.2em;
      color: #333;
    }

    .update-form label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    .update-form input {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 1em;
    }

    .update-form button {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: #007bff;
      color: white;
      cursor: pointer;
      font-size: 1em;
    }

    .update-form button:hover {
      background-color: #0056b3;
    }
  </style>

  <div class="update-form-container">
    <form class="update-form" method="post">
      {% csrf_token %}
      <h2>Atualizar E-mail e Senha</h2>
      <label for="{{ form.email.id_for_label }}">E-mail:</label>
      {{ form.email }}
      <label for="{{ form.password.id_for_label }}">Nova senha:</label>
      {{ form.password }}
      <label for="{{ form.password_confirmation.id_for_label }}">Confirmar nova senha:</label>
      {{ form.password_confirmation }}
      <button type="submit">Atualizar</button>
    </form>
  </div>
{% endblock %}
