{% extends 'core/base.html' %}

{% block title %}Atualizar E-mail e Senha - Resgatocao{% endblock %}

{% block content %}
  <style>
    .container {
      margin-top: 50px;
    }

    .email-password-update-form {
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #f5f5f5;
    }

    .email-password-update-form h2 {
      text-align: center;
    }

    .email-password-update-form p {
      margin: 10px 0;
    }

    .email-password-update-form label {
      font-weight: bold;
    }

    .email-password-update-form .form-control {
      border: 1px solid #343a40;
    }

    .email-password-update-form .update-button {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    .email-password-update-form .update-button button {
      display: inline-block;
      background-color: #007bff;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      text-decoration: none;
    }

    .email-password-update-form .update-button button:hover {
      background-color: #0069d9;
    }
  </style>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="email-password-update-form">
          <h2>Atualizar E-mail e Senha</h2>
          <form method="post">
            {% csrf_token %}
            <p>
              <label for="{{ form.email.id_for_label }}">E-mail:</label>
              {{ form.email }}
            </p>
            <p>
              <label for="{{ form.password.id_for_label }}">Nova senha:</label>
              {{ form.password }}
            </p>
            <p>
              <label for="{{ form.password_confirmation.id_for_label }}">Confirmar nova senha:</label>
              {{ form.password_confirmation }}
            </p>
            <div class="update-button">
              <button type="submit">Atualizar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
