{% extends 'core/base.html' %}

{% block title %}Detalhes do Usuário - Resgatocao{% endblock %}

{% block content %}
  <style>
    .user-details {
      margin: 20px auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #f5f5f5;
      text-align: center;
    }

    .user-details p {
      margin: 10px 0;
    }

    .user-details strong {
      font-weight: bold;
    }

    .avatar {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      display: block;
      margin: 0 auto 10px;
    }

    .update-buttons {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    .update-buttons a {
      display: inline-block;
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      text-decoration: none;
      margin-right: 10px;
    }

    .update-buttons a:hover {
      background-color: #45a049;
    }
  </style>

  <h1 class="text-center">Informações do Usuário</h1>
  <div class="user-details">
    {% if user.avatar %}
      <img class="avatar" src="{{ user.avatar.url }}" alt="Avatar">
    {% else %}
      <p><strong>Avatar:</strong> Usuário sem Avatar</p>
    {% endif %}
    <p><strong>Nome de Usuário:</strong> {{ user.username }}</p>
    <p><strong>Nome Completo:</strong> {{ user.get_full_name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Data de Nascimento:</strong> {{ user.birth_date }}</p>
    <p><strong>Ocupação:</strong> {{ user.occupation }}</p>
    <p><strong>CPF:</strong> {{ user.cpf }}</p>
    <p><strong>Telefone:</strong> {{ user.phone }}</p>
    <!-- Add more user information fields if needed -->
  </div>

  <div class="update-buttons">
    <a href="{% url 'account:user_update' %}">Atualizar Informações Gerais</a>
    <a href="{% url 'account:email_password_update' %}">Atualizar Informações de Login</a>
  </div>
{% endblock %}
