{% extends 'core/base.html' %}

{% block title %} {{ animal.nome }} - Resgatocao {% endblock %}

{% block content %}
<section class="py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ animal.avatar.url }}" alt="{{ animal.nome }}" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2>{{ animal.nome }}</h2>
                <p><strong>Raça:</strong> {{ animal.raca }}</p>
                <p><strong>Idade:</strong> {{ animal.idade }}</p>
                <p><strong>Sexo:</strong> {{ animal.sexo }}</p>
                <p><strong>Peso:</strong> {{ animal.peso }} kg</p>
                <p><strong>Cor:</strong> {{ animal.cor }}</p>
                <p><strong>Cor do olho:</strong> {{ animal.cor_olho }}</p>
                <p><strong>Sobre:</strong> {{ animal.sobre }}</p>
                <p><strong>Comandos:</strong> 
                    {% for comando in animal.comandos.all %} 
                        {{ comando }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p><strong>Outras características:</strong> 
                    {% for caracteristica in animal.outras_caracteristicas.all %} 
                        {{ caracteristica }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <!-- Botão de requisição de adoção -->
                {% if user.is_authenticated %}
                    {% if has_principal_address %}
                    <a href="{% url 'adocao:adocao_create' animal.pk %}" class="btn btn-primary float-end">Requisição de Adoção</a>
                    {% else %}
                        <a href="{% url 'account:address_list' %}" class="btn btn-primary float-end">Requisição de Adoção</a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'account:login' %}" class="btn btn-primary float-end">Requisição de Adoção</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}